body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.body-container{
    display:flex;
    flex-direction: row;
}

aside{
    padding: 0em 4em 0em 0.5em;
    border: 1px solid magenta;
    width: 30vw;   
}
main{
    width: 9 0vw;
}

.watch-list-1,.watch-list-2{
    display: flex;
    flex-direction: row;
   
    border-radius: 1.5em;
    margin: 1em 0em;
    background-color: rgba(167, 170, 176,0.2);
}

.stock-ctn-1,.stock-ctn-2{
    /* margin: 0em 2.5em; */
}






/*Main*/

.top-header{
    background-color: aqua;
    display: flex;
    width: 85vw;
    justify-content: space-between;
}
.search-bar{
    width: 60vw;
    margin: 2em 0em;
    margin-left: 1em;
}

.stocks-wrapper ,.chart{
 display: flex;
 justify-content: space-between;
 margin: 1em 0em;
 background-color: grey;
}